@import "tailwindcss";

/* Dark mode activado por clase .dark en el raíz (html) */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Colores Corporativos A&G */
  --color-ayg-primary: #5F8FA3;
  --color-ayg-primary-dark: #4A7289;
  --color-ayg-primary-light: #7FA5B8;
}
